/*Neighborhood Map
Created by Dmitry Shatalov*/

.nav.nav-center {
	display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}
.navbar {
	margin-bottom: 0;
	background-color: #EF233C;
}

.navbar-inner{
    text-align: center;
}

.navbar-text {
	font-weight: bold;
	color: white;
}
main {
	height: calc(100% - 60px);
	background-color: #f9f9f9;
}

.content {
	height: 100%;
}

.pre-scrollable {
    max-height: 1000px;
    overflow-y: scroll;
    border-right: 1px solid #ddd;
}


.results {
	height: calc(100% - 50px);
}

.bar {
	height: 50px;
	padding-top: 10px;
	border-bottom: 1px solid #ddd;
}

.form-group {
	margin-right: 10px;
}

label {
	margin-right: 10px;
}

tr {
	width: 600px;
}

.form-control, .btn {
	height: 30px;
}

.btn {
	padding-top: 3px;
}

#zipSearch {
	width: 100px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: helvetica neue,arial,helvetica,freesans,liberation sans,numbus sans l,sans-serif;
}
.map {
	padding-right: 0;	
	padding-left: 0;
}

#map {
	height: 100%;
	width: 100%;
}

.opentable-link {
	padding-top: 5px;
	padding-left: 15px;
	width: 70%;
}

.btn-primary {
	width: 100%;
}

.address {
	padding: 0px 15px;
}
.restaurant-list {
	display: none;
}

@media only screen and (max-width: 964px) {
	.bar {
		font-size: 12px;
	}

	#zipSearch {
		width: 60px;
	}

	#nameInput, #zipSearch, #addressInput, #priceInput {
		font-size: 12px;
	}

	.btn-default, .btn-primary {
		font-size: 12px;
		padding-top: 4px;	
	}
	span {
		font-size: 12px;
	}
}

@media only screen and (max-width: 767px) {
	.bar {
		height: 350px;
	}
	#zipSearch {
		width: 100%;
		margin-bottom: 15px; 
	}
}
