/*Neighborhood Map
Created by Dmitry Shatalov*/

.nav.nav-center {
	display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}
.navbar {
	margin-bottom: 0;
}

.navbar-inner{
    text-align: center;
}
main {
	height: calc(100% - 60px);
}

.content {
	height: 100%;
}

.pre-scrollable {
    max-height: 1000px;
    overflow-y: scroll;
}


.results {
	height: calc(100% - 50px);
}

.bar {
	height: 50px;
	padding-top: 10px;
	border-bottom: 1px solid #e7e7e7;
}

.form-group {
	margin-right: 10px;
}

label {
	margin-right: 5px;
}

.form-control {
	height: 30px;
}



body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.map {
	padding-right: 0;	
	padding-left: 0;
}

#map {
	height: 100%;
	width: 100%;
}

.opentable-link {
	padding: 5px 50px;
}

.btn-primary {
	width: 100%;
}

.address {
	padding: 0px 15px;
}
.restaurant-list {
	display: none;
}
