.nav.nav-center {
	display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}
.navbar {
	margin-bottom: 0;
}

.navbar-inner{
    text-align: center;
}
main {
	height: calc(100% - 60px);
}

.content {
	height: 100%;
}

.row {
	height: 100%;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.map {
	padding-right: 0;	
}
#map {
	height: 100%;
	width: 100%;
}